<!-- <button class="active" routerLink="/r_form">reactive form component</button>
<button routerLink="/test">test-component</button>
<button routerLink="/parent">parent component</button>
<button routerLink="/child/5">child component</button>
<app-app-sizer [(size)]="fontsizepx"></app-app-sizer>
<div [style.font-size.px]="fontsizepx" style="background-color:green;">
    Resiziable Text{{fontsizepx}}
</div>
<p [appHighlighgt]="'red'">This is a directive demo.</p> -->
<!-- <router-outlet></router-outlet> -->
<app-wallet>
    
</app-wallet>
